
<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2>ユーザ情報</h2>
    <%= form_with model:@user, local:true do |f| %>
      <%= render 'layouts/errors', obj: @user %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control name" %>
      </div>
      <div class="form-group">
        <%= f.label :profile_image %>
        <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
      </div>
      <div class="form-group">
        <%= f.label :profile %>
        <%= f.text_area :profile, class: "form-control introduction" %>
      </div>
      <div class="form-group">
        <%= f.label :shisha_resistance %><br />
        <%= f.select :shisha_resistance, User.shisha_resistances_i18n.invert %>
      </div>
      <div class="form-group">
        <%= f.submit class: 'btn btn-success' %>
        <%= link_to "アカウント削除",user_path(current_user.id),class: "btn btn-danger float-right", method: :delete, "data-confirm" => "本当にアカウントを削除しますか？" %>
      </div>
    <% end %>
  </div>
</div>
