<div class='container'>
  <div class='row'>
    <div class='col-md-3 shadow'>
      <h2>ユーザ情報</h2>
      <%= render 'info', user: @user %>
      <%= render 'user/relationships/follow_info', user: @user %>
      <%= link_to "お気に入り一覧", favorites_user_path(@user) %>
    </div>
    <div class='col-md-9 shadow'>
      <h2><%= @user.name %>の煙一覧</h2>
      <%= render "user/posts/index", posts: @posts %>
    </div>
  </div>
</div>