<div class='container'>
  <div class='row'>
    <div class='col-md-3 shadow'>
        <%= render "user/searches/form",  search_params: @search_params %>
    </div>
    <div class='col-md-9 shadow'>
      <h2>煙一覧</h2>
      <%= link_to '新しい順', posts_path(search: @search_params.merge(sort: "latest")) %>
      |<%= link_to '古い順', posts_path(search: @search_params.merge(sort: "old")) %>
      |<%= link_to '評価の高い順', posts_path(search: @search_params.merge(sort: "star_count")) %>
      |<%= link_to 'いいねの多い順', posts_path(search: @search_params.merge(sort: "favorite_count")) %>
      <%= render "user/posts/index", posts: @posts %>
    </div>
  </div>
</div>
