<table class='table'>
  <tr>
    <th><%= image_tag user.get_profile_image(100,100) %></th>
    <th><%= user.shisha_resistance %></th>
  </tr>
  <tr>
	  <th>ユーザネーム</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th colspan="2"class="text-center">プロフィール</th>
  </tr>
  <tr>
    <td colspan="2"><%= user.profile %></td>
  </tr>
</table>
<div class='row'>
    <%= link_to edit_admin_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
</div>