<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
  <div class = "container" >

      <%= link_to root_path do %>
        <%= image_tag "", alt: "Logo", size:"340x90" %>
      <% end %>

      <div class = "ml-auto">
        <div class="row justify-content-between align-items-center">
        <% if user_signed_in? %>
          <div class="col text-center">ようこそ、<%= current_user.name %>さん!</div>

          <%= link_to new_post_path, class:"btn m-2" do %>
            投稿する <i class="fas fa-user"></i>
          <% end %>
          <%= link_to posts_path, class:"btn m-2" do %>
           煙一覧 <i class="fas fa-cheese"></i>
          <% end %>
          <%= link_to user_path(current_user), class:"btn m-2" do %>
            マイページ<i class="fas fa-shopping-cart"></i>
          <% end %>
          <%= link_to destroy_user_session_path, method: :delete, class:"btn m-2" do %>
            ログアウト<i class="fas fa-sign-out-alt"></i>
          <% end %>

        <% elsif admin_signed_in? %>
          <%= link_to admin_posts_path, class:"btn m-2" do %>
            煙一覧 <i class="fas fa-cheese"></i>
          <% end %>
          <%= link_to admin_users_path, class:"btn m-2" do %>
            会員一覧 <i class="fas fa-users"></i>
          <% end %>
          <%= link_to admin_path, class:"btn m-2" do %>
            トップ <i class="fas fa-truck"></i>
          <% end %>
          <%= link_to destroy_admin_session_path, method: :delete, class:"btn m-2" do %>
            ログアウト<i class="fas fa-sign-out-alt"></i>
          <% end %>

        <% else %>
          <%= link_to about_path, class:"btn m-2" do %>
            About <i class="fas fa-apple-alt"></i>
          <% end %>
          <%= link_to posts_path, class:"btn m-2" do %>
            煙一覧 <i class="fas fa-cheese"></i>
          <% end %>
          <%= link_to new_user_registration_path, class:"btn m-2" do %>
            新規登録 <i class="fas fa-user-plus"></i>
          <% end %>
          <%= link_to new_user_session_path, class:"btn m-2" do %>
            ログイン <i class="fas fa-sign-in-alt"></i>
          <% end %>
        <% end %>
        </div>
     </div>
  </div>
</nav>