<!DOCTYPE html>
<html>
  <head>
    <title>Hookehs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/48d54561da.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
    <%= render 'layouts/header' %>
    </header>
    <main style="min-height: 100vh;">
      <%= flash[:error] %>
      <%= flash[:notice] %>
      <%= yield %>
    </main>
    <footer class="pt-5">
      <div class="mx-auto" >
        <p>© Oshisha</p>
      </div>
    </footer>
  </body>
</html>
